<app-nav></app-nav>
<div id="main-wrapper">
  <div>
    <form [formGroup]="productForm">
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" class="form-control" id="name" formControlName="productname"
            [ngClass]="{'is-invalid':!productForm.get('productname')?.valid &&
            productForm.get('productname')?.touched}">

            <span class="invalid-feedback">
                <span *ngIf="productForm.get('productname').errors?.required">
                  Please enter a product name.
                </span>
            </span>    

        </div>
        <div class="form-group">
            <label for="name">Quantity</label>
            <input type="text" class="form-control" id="name" formControlName="quantity"
            [ngClass]="{'is-invalid':!productForm.get('quantity')?.valid &&
            productForm.get('quantity')?.touched}">

            <span class="invalid-feedback">
                <span *ngIf="productForm.get('quantity').errors?.required">
                  Please enter a quantity.
                </span>
            </span>  

        </div>
        <div class="form-group">
            <label for="name">Unit Price</label>
            <input type="text" class="form-control" id="name" formControlName="unitPrice"
            [ngClass]="{'is-invalid':!productForm.get('unitPrice')?.valid &&
            productForm.get('unitPrice')?.touched}">

            <span class="invalid-feedback">
                <span *ngIf="productForm.get('unitPrice').errors?.required">
                  Please enter a unit price.
                </span>
            </span>  

        </div>
        <div class="form-group">
          <select formControlName="category">
            <option value="">Select Product</option>
            <option *ngFor="let category of categories$ | async" 
            [value]="category.categoryId"
            >{{category.categoryName}}</option>
          </select>
        </div>

        <button class="btn btn-success" 
        (click)="update(productForm)" 
        *ngIf="isEdit"
        [disabled]="!productForm.valid"
        >Update</button>
        <button class="btn btn-success"
         (click)="create(productForm)" 
         *ngIf="!isEdit"
         >Add</button>    
    </form>    
  </div>
</div>
