<app-nav></app-nav>
<main class="main-wrapper">
        <section class="graphs" *ngIf="popularInterests">
            <div class="page bar-graphs">
                <div  class="graph-data">
                    <bar-graph>
                        <h3>Popular Interests</h3>
                        <component-child
                        [name]="'Unpopular Interests'"></component-child>
                    </bar-graph>
                </div>

                <div  class="data__horizontal data-visual-wrapper ">
                    <bar-graph>
                        <h3>Popular Interests</h3>
                        <component-child
                        [name]="'My Popular Interests'"></component-child>
                    </bar-graph>
                </div>
            </div>
        </section>

        <section class="lists-wrapper">
            <div class="page lists">
                <!-- <mat-card class="lists"> -->
                    <article *ngFor="let list of doglist" class="list">
                        <h2>{{list.name}}</h2>
                        <!-- <img src="{{list.img}}" alt="{{list.img}}"/> -->
                        <ul>
                            <li *ngFor="let item of list.list">{{item}}</li>
                        </ul>
                    </article>
                <!-- </mat-card> -->
            </div>
        </section>
        <section>
            <div>
                  <div *ngFor="let file of files">
                  <p>{{ file.name }}</p>
                  <p>{{ file.size | filesize }}</p>
                </div>
                <div *ngFor="let file of mapped">  <!-- map way using conversion pipe as a provider --> 
                    <p>{{ file.name }}</p>
                    <p>{{ file.size  }}</p>
                  </div>
              </div>
        </section>
</main>